In [3]:
import pandas as pd

In [4]:
df= pd.read_csv(r'Food Data.csv')

In [5]:
df1 = df['Taste'][8] = 'Salty'

<ipython-input-5-b6b34d611d8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1 = df['Taste'][8] = 'Salty'

In [7]:
df.head(12)

              Food  Price      Place          Color      Cuisines      Taste
0           Paneer    100     Nagpur          White        Indian  Tasteless
1          Biryani    200    Raigarh  Reddish Brown       Punjabi      Spicy
2            Pizza    150     Raipur            Red       Italian      Spicy
3             Idli     40    Chennai          White  South Indian       Good
4             Taco     70  Bangalore          Brown       Mexican      Spicy
5     Aloo Paratha     60    Kolkate          Brown       Punjabi      Salty
6         Chamcham    390      Delhi         Wwhite  North Indian      Salty
7   Chicken Chilly    180     Mumbai            Red        Indian      Sweet
8           Dhokla     40       Pune         Yellow       Gujrati      Salty
9             Dosa     55  Jalandhar          White  South Indian      Spicy
10            Chat     30     Indore            Mix        Indian      Spicy
11        Rasgulla     20     Jaipur          white      Bengalii      Sweet

In [12]:
(df['Food'][df["Price"]==df['Price'].max()]).values[0]

'Chamcham'

In [39]:
(df[['Food','Price']][df['Taste']=="Sweet"].min()).values[0]

'Rasgulla'

df['Food'][((df.Color).str.upper=="white") & df['Place']=='Jaipur'].values[0]  #This is a null set

In [44]:
df

              Food  Price      Place          Color      Cuisines      Taste
0           Paneer    100     Nagpur          White        Indian  Tasteless
1          Biryani    200    Raigarh  Reddish Brown       Punjabi      Spicy
2            Pizza    150     Raipur            Red       Italian      Spicy
3             Idli     40    Chennai          White  South Indian       Good
4             Taco     70  Bangalore          Brown       Mexican      Spicy
5     Aloo Paratha     60    Kolkate          Brown       Punjabi      Salty
6         Chamcham    390      Delhi         Wwhite  North Indian      Salty
7   Chicken Chilly    180     Mumbai            Red        Indian      Spicy
8           Dhokla     40       Pune         Yellow       Gujrati      Salty
9             Dosa     55  Jalandhar          White  South Indian      Spicy
10            Chat     30     Indore            Mix        Indian      Spicy
11        Rasgulla     20     Jaipur          white      Bengalii      Sweet
12   Chole Bhature     60       Kaul          White        Indian      Spicy
13          Samosa      7   Varanasi          Brown       Mughlai      Spicy

In [46]:
df['Taste'].value_counts()

Spicy        8
Salty        3
Good         1
Sweet        1
Tasteless    1
Name: Taste, dtype: int64

In [11]:
df['Food'][(df['Place']=='Indore)' & (df['Color']).str.upper=='WHITE')]

TypeError: unsupported operand type(s) for &: 'str' and 'method'

In [15]:
df1 = pd.read_excel('supermarkets.xlsx')

In [16]:
df1

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

str