In [2]:
import pandas as pd

data types
1. series- 1D
2.DataFrame- 2D single table
2.panel- 3D multitable

Series - 1D

In [4]:
s1 = pd.Series([1,2,3,4,34,23223,34,6,6756,3433,787])

In [6]:
s1 #showws index values

0         1
1         2
2         3
3         4
4        34
5     23223
6        34
7         6
8      6756
9      3433
10      787
dtype: int64

In [8]:
s1 = pd.Series((1,2,3,4,34,23223,34,6,6756,3433,787)) #using tuples
s1

0         1
1         2
2         3
3         4
4        34
5     23223
6        34
7         6
8      6756
9      3433
10      787
dtype: int64

In [10]:
s1.size

11

In [11]:
s1.shape

(11,)

In [12]:
s1.mean()

3116.6363636363635

In [13]:
s1.tail(6)

5     23223
6        34
7         6
8      6756
9      3433
10      787
dtype: int64

In [15]:
s1.sample(5) #random

4        34
10      787
0         1
6        34
5     23223
dtype: int64

In [16]:
# accsessing the elements

In [17]:
s1[0]

1

In [18]:
s1[1] = 3 #this is also mutable

In [19]:
s1

0         1
1         3
2         3
3         4
4        34
5     23223
6        34
7         6
8      6756
9      3433
10      787
dtype: int64

In [20]:
#slicing also possible

In [21]:
#deletion
del s1[1]

In [22]:
s1

0         1
2         3
3         4
4        34
5     23223
6        34
7         6
8      6756
9      3433
10      787
dtype: int64

In [23]:
# item insertion

s3 = "afasfsqdfasdfasdfasdfasdfasdfasdfasdf"
s2 = [i:i.count(s3) for i in s3]

In [25]:
#costumizing

In [28]:
s1 = ('hello here this is a thing one two three'.split())

s1 = ('hello here this is a thing one two three'.split(), index=list('pqrstuvqx'))

In [31]:
s1

['hello', 'here', 'this', 'is', 'a', 'thing', 'one', 'two', 'three']

In [39]:
s1 = pd.Series([1,2,3,4,34,23223,34,6,6756,'this',787], index=list('abcdefghijk'))

In [40]:
s1

a        1
b        2
c        3
d        4
e       34
f    23223
g       34
h        6
i     6756
j     this
k      787
dtype: object

In [41]:
s1.dtype

dtype('O')

## Dataframe

In [42]:
df = pd.DataFrame(['a','b','c','d'])

In [43]:
df

   0
0  a
1  b
2  c
3  d

In [44]:
#this is in table format

In [45]:
#we can also make 2D

In [49]:
df1 = pd.DataFrame([['a','b'],['c','d']])

In [50]:
df1

   0  1
0  a  b
1  c  d

In [54]:
df2 = pd.DataFrame({'color':['blue','red','yellow','black','purple','brown'],'price':[11,22,33,34,34,23]})

In [55]:
df2

    color  price
0    blue     11
1     red     22
2  yellow     33
3   black     34
4  purple     34
5   brown     23

In [56]:
df2.shape

(6, 2)

In [58]:
df2.head(2)

  color  price
0  blue     11
1   red     22

In [60]:
df2.sample(2)

    color  price
0    blue     11
2  yellow     33

In [63]:
type(df2.sum()) #this sum returned is a series

pandas.core.series.Series

In [68]:
#accessing items in dataframe

In [65]:
df2['color']

0      blue
1       red
2    yellow
3     black
4    purple
5     brown
Name: color, dtype: object

In [66]:
df2['price'] #give column name

0    11
1    22
2    33
3    34
4    34
5    23
Name: price, dtype: int64

In [67]:
df1[0] #this gives first column

0    a
1    c
Name: 0, dtype: object

In [70]:
df2['color'][1]

'red'

In [71]:
# if multiple column write in a list

In [73]:
df2.loc(0)

In [72]:
#assigning values - when doing this we have to assign all values in the column