In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4,5,6])

In [3]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
s1 = pd.Series((1,2,67,45,34,112,43))

0      1
1      2
2     67
3     45
4     34
5    112
6     43
dtype: int64

In [7]:
s3 = 'thisistheonetwoandthree'
s2 = pd.Series({i:s3.count(i) for i in s3})

In [8]:
s2

t    4
h    3
i    2
s    2
e    4
o    2
n    2
w    1
a    1
d    1
r    1
dtype: int64

In [10]:
s2.values

array([4, 3, 2, 2, 4, 2, 2, 1, 1, 1, 1], dtype=int64)

In [11]:
s2.size

11

In [12]:
s2.shape

(11,)

In [13]:
s2.dtype

dtype('int64')

In [15]:
s2.sum()

23

In [16]:
s2.mean()

2.090909090909091

In [19]:
#Accessing values from the series ____________

In [20]:
s2

t    4
h    3
i    2
s    2
e    4
o    2
n    2
w    1
a    1
d    1
r    1
dtype: int64

In [21]:
s2[0]

4

In [23]:
s2['r']

1

In [24]:
s2['o'] = 99

In [25]:
s2

t     4
h     3
i     2
s     2
e     4
o    99
n     2
w     1
a     1
d     1
r     1
dtype: int64

In [ ]:
#insertion of values

In [29]:
s2['new value'] = 199
s2

t              4
h              3
i              2
s              2
e              4
o             99
n              2
w              1
a              1
d              1
r              1
new value    199
dtype: int64

In [41]:
#series can also be made from lists so we can say

In [42]:
#here we can also give index values

In [39]:
s3 = pd.Series('this is a test string treat this thing as a series'.split(" "), index=list('abcdefghijk'))

In [40]:
s3

a      this
b        is
c         a
d      test
e    string
f     treat
g      this
h     thing
i        as
j         a
k    series
dtype: object

In [44]:
s4 = pd.Series([12,12,12 + 3j,'hi'])

In [46]:
s4.dtype #this is object type when there are different data typoed present

dtype('O')

In [48]:
s4.values  #this gives as numpy array

array([12, 12, (12+3j), 'hi'], dtype=object)

## <b>Dataframe</b>

In [49]:
import pandas as pd

In [52]:
df = pd.DataFrame([4,5,6,7,7,8])

In [53]:
df

   0
0  4
1  5
2  6
3  7
4  7
5  8

In [56]:
df = pd.DataFrame([[4,5,6],[7,7,8]]) # this is similar to array formation

In [57]:
df

   0  1  2
0  4  5  6
1  7  7  8

In [119]:
df2 = pd.DataFrame({'color':['orange','red','blue','yellow','pink','green','brown'],'price':[2,34,2,323,12,32,34]})

In [60]:
df2

    color  price
0  orange      2
1     red     34
2    blue      2
3  yellow    323
4    pink     12
5   green     32
6   brown     34

In [62]:
df2.add_prefix("this is prefix") #this is suffix and prefix

  this is prefixcolor  this is prefixprice
0              orange                    2
1                 red                   34
2                blue                    2
3              yellow                  323
4                pink                   12
5               green                   32
6               brown                   34

In [63]:
df2

    color  price
0  orange      2
1     red     34
2    blue      2
3  yellow    323
4    pink     12
5   green     32
6   brown     34

In [65]:
df2['color'][3]

'yellow'

In [67]:
df3 = pd.DataFrame([[2,3,4,4],[1,2,45.4,23]], index=['X','Y'], columns=['one','two','three','four'], dtype=float)

In [68]:
df3

   one  two  three  four
X  2.0  3.0    4.0   4.0
Y  1.0  2.0   45.4  23.0

In [69]:
df3['one'] = 4.0

In [70]:
df3['two'] = 5.0
df3['three'] = 6.0
df3['four'] = 3.4

In [71]:
df3

   one  two  three  four
X  4.0  5.0    6.0   3.4
Y  4.0  5.0    6.0   3.4

In [72]:
df2

    color  price
0  orange      2
1     red     34
2    blue      2
3  yellow    323
4    pink     12
5   green     32
6   brown     34

In [73]:
df2.size

14

In [74]:
df2.shape #row, column

(7, 2)

In [75]:
df2.columns

Index(['color', 'price'], dtype='object')

In [79]:
print(df2.sum()) #this gives sum

color    orangeredblueyellowpinkgreenbrown
price                                  439
dtype: object

In [81]:
print(df2.count())

color    7
price    7
dtype: int64

In [83]:
print(df2.last_valid_index())

6

#### Accessing Elements

In [84]:
df2

    color  price
0  orange      2
1     red     34
2    blue      2
3  yellow    323
4    pink     12
5   green     32
6   brown     34

In [85]:
df2.color #df2['color'] -- this is also the same thing

0    orange
1       red
2      blue
3    yellow
4      pink
5     green
6     brown
Name: color, dtype: object

In [86]:
df2['color']

0    orange
1       red
2      blue
3    yellow
4      pink
5     green
6     brown
Name: color, dtype: object

In [87]:
df2.color[2]

'blue'

In [88]:
df2

    color  price
0  orange      2
1     red     34
2    blue      2
3  yellow    323
4    pink     12
5   green     32
6   brown     34

In [89]:
df2['color'][2]

'blue'

In [90]:
df2['price']

0      2
1     34
2      2
3    323
4     12
5     32
6     34
Name: price, dtype: int64

In [92]:
df2['price'][1:6]

1     34
2      2
3    323
4     12
5     32
Name: price, dtype: int64

In [93]:
#while asssigning the values we have to assign for the full list

In [94]:
df2['price'] = pd.Series([1,2,3,4,56,67,78])

In [95]:
df2.price

0     1
1     2
2     3
3     4
4    56
5    67
6    78
Name: price, dtype: int64

In [96]:
#assigning a single value

In [97]:
df2['price'][3] = 99

<ipython-input-97-6a4ee999e742>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['price'][3] = 99

In [98]:
#accessing the row

In [101]:
df2.loc[0]

color    orange
price         1
Name: 0, dtype: object

In [102]:
df2

    color  price
0  orange      1
1     red      2
2    blue      3
3  yellow     99
4    pink     56
5   green     67
6   brown     78

In [104]:
df2.mean()

price    43.714286
dtype: float64

In [105]:
df2.std()

price    41.124665
dtype: float64

In [106]:
df2.sum()

color    orangeredblueyellowpinkgreenbrown
price                                  306
dtype: object

In [109]:
df2.describe()   #this gives everythin at once

           price
count   7.000000
mean   43.714286
std    41.124665
min     1.000000
25%     2.500000
50%    56.000000
75%    72.500000
max    99.000000

## <b>Logical Indexing</b>

In [110]:
df2

    color  price
0  orange      1
1     red      2
2    blue      3
3  yellow     99
4    pink     56
5   green     67
6   brown     78

In [112]:
df2['price'].max()

99

In [113]:
df2['price'][3] = 121

<ipython-input-113-40129365c1c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['price'][3] = 121

In [114]:
df2

    color  price
0  orange      1
1     red      2
2    blue      3
3  yellow    121
4    pink     56
5   green     67
6   brown     78

In [117]:
df2['price']>100 #this gives true and false type

0    False
1    False
2    False
3     True
4    False
5    False
6    False
Name: price, dtype: bool

In [120]:
df2

    color  price
0  orange      2
1     red     34
2    blue      2
3  yellow    323
4    pink     12
5   green     32
6   brown     34

In [122]:
df2['color']=='pink'

0    False
1    False
2    False
3    False
4     True
5    False
6    False
Name: color, dtype: bool

In [124]:
df2.describe()

            price
count    7.000000
mean    62.714286
std    115.675861
min      2.000000
25%      7.000000
50%     32.000000
75%     34.000000
max    323.000000

In [125]:
`

<bound method NDFrame.to_clipboard of     color  price
0  orange      2
1     red     34
2    blue      2
3  yellow    323
4    pink     12
5   green     32
6   brown     34>

In [129]:
df2 = pd.read_csv('Techchinest - AI course/Branch Specific/Day 9/sir_data/supermarkets.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Techchinest - AI course/Branch Specific/Day 9/sir_data/supermarkets.csv'