we sent the data row wise in ANN
RNN - try to predict the sequence / pattern in the features
    if things are happening in past then what may be happening
in this we transpose our data

In [3]:
import pandas as pd

In [4]:
stocks = pd.read_csv('stock_data.csv')

In [5]:
stocks['Stock'].value_counts()

AAPL    8364
MSFT    7983
TSLA    1858
FB      1381
Name: Stock, dtype: int64

In [6]:
stocks

,Date,Open,High,Low,Close,Volume,OpenInt,Stock
0,1984-09-07,0.42388,0.42902,0.41874,0.42388,23220030,0,AAPL
1,1984-09-10,0.42388,0.42516,0.41366,0.42134,18022532,0,AAPL
2,1984-09-11,0.42516,0.43668,0.42516,0.42902,42498199,0,AAPL
3,1984-09-12,0.42902,0.43157,0.41618,0.41618,37125801,0,AAPL
4,1984-09-13,0.43927,0.44052,0.43927,0.43927,57822062,0,AAPL
...,...,...,...,...,...,...,...,...
19581,2017-11-06,178.56000,180.45000,178.31000,180.17000,13275578,0,FB
19582,2017-11-07,180.50000,180.74800,179.40300,180.25000,12903836,0,FB
19583,2017-11-08,179.79000,180.35000,179.11000,179.56000,10467606,0,FB
19584,2017-11-09,178.31000,179.40000,177.09000,179.30000,12602188,0,FB
19585,2017-11-10,178.35000,179.10000,177.96000,178.46000,11060355,0,FB

if it closed  at a paticular price then at what it will open

In [7]:
msft = stocks[['Date','Open']][stocks['Stock']=='MSFT']

In [8]:
msft

             Date      Open
10222  1986-03-13   0.06720
10223  1986-03-14   0.07533
10224  1986-03-17   0.07533
10225  1986-03-18   0.07533
10226  1986-03-19   0.07533
...           ...       ...
18200  2017-11-06  84.20000
18201  2017-11-07  84.77000
18202  2017-11-08  84.14000
18203  2017-11-09  84.11000
18204  2017-11-10  83.79000

[7983 rows x 2 columns]

In [13]:
len(msft['Open'].values[100:190])

90

In [14]:
x = []
y = []
for i in range(100,7983):
    x.append(msft['Open'].values[i-100:i])
    y.append(msft['Open'].values[i])

In [16]:
import numpy as np

In [17]:
x = np.array(x)
y = np.array(y)

In [18]:
x.shape

In [20]:
x

array([[6.7200e-02, 7.5330e-02, 7.5330e-02, ..., 7.5330e-02, 7.5330e-02,
        7.5330e-02],
       [7.5330e-02, 7.5330e-02, 7.5330e-02, ..., 7.5330e-02, 7.5330e-02,
        7.5330e-02],
       [7.5330e-02, 7.5330e-02, 7.5330e-02, ..., 7.5330e-02, 7.5330e-02,
        7.5330e-02],
       ...,
       [7.0126e+01, 7.0445e+01, 6.9838e+01, ..., 8.4080e+01, 8.4200e+01,
        8.4770e+01],
       [7.0445e+01, 6.9838e+01, 7.0166e+01, ..., 8.4200e+01, 8.4770e+01,
        8.4140e+01],
       [6.9838e+01, 7.0166e+01, 6.9719e+01, ..., 8.4770e+01, 8.4140e+01,
        8.4110e+01]])

In [21]:
x = np.reshape(x,(x.shape[0],x.shape[1],1))

In [22]:
len(x)

7883

In [23]:
y

array([7.533e-02, 7.533e-02, 7.533e-02, ..., 8.414e+01, 8.411e+01,
       8.379e+01])

x = this is 100 stock prices and
y=  the stock prices after 100 ... 
This is then trying to calculate the trend

In [24]:
from keras.layers import LSTM

In [26]:
from keras.models import Sequential
from keras.layers import Dense

In [27]:

model = Sequential()
model.add(LSTM(units=200, return_sequences=True, input_shape=(100,1)))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200, return_sequences=True))
model.add(LSTM(units=200))
model.add(Dense(units=1))
model.compile(optimizer='rmsprop', loss='mse', metrics=['mae','accuracy'])

In [ ]:
model.fit(x,y, epochs=10, batch_size=50)

Epoch 1/10
 10/158 [>.............................] - ETA: 5:24 - loss: 526.6297 - mae: 17.0279 - accuracy: 0.0000e+00