In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('E:\PYTHON\PROJECTS\Techchinest - AI course\Branch Specific\Day 9\sir_data\supermarkets.csv')

In [3]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df[['ID','Address','State']][(df['Employees']>12)&(df['Name']=='Super River')]

   ID      Address             State
2   3  332 Hill St  California 94114

In [17]:
[(df['Employees']>12) & (df['Name']=='Super River')]

[0    False
 1    False
 2     True
 3    False
 4    False
 5    False
 dtype: bool]

In [20]:
s1 = pd.Series(list('this is a test string'))
s1

0     t
1     h
2     i
3     s
4
5     i
6     s
7
8     a
9
10    t
11    e
12    s
13    t
14
15    s
16    t
17    r
18    i
19    n
20    g
dtype: object

In [21]:
s1.axes

[RangeIndex(start=0, stop=21, step=1)]

In [25]:
s1.append(pd.Series(list('APPEND')))

0     t
1     h
2     i
3     s
4
5     i
6     s
7
8     a
9
10    t
11    e
12    s
13    t
14
15    s
16    t
17    r
18    i
19    n
20    g
0     A
1     P
2     P
3     E
4     N
5     D
dtype: object

In [28]:
s1.sum()

'this is a test string'